.profile-container {
  font-family: 'Rubik', sans-serif;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; 
  padding: 20px;
  box-sizing: border-box;
  background-color: #f7f8f9;
}

.heading {
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
  color: #1D2226;
  margin-bottom: 20px;
  background-color: #ffff;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  position: relative; 
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background: url('../../../assets/Ellipse.png') no-repeat center center;
  background-size: cover;
  margin-right: 16px; 
}

.icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 21px;
  height: 23px;
  background: url('../../../assets/Group.png') no-repeat center center;
  background-size: contain;
}

.name {
  font-size: 15px;
  line-height: 19px;
  color: #1D2226;
  font-weight: 500;
}

.email {
  font-size: 14px;
  line-height: 19px;
  color: #1D2226;
}

.description {
  font-size: 14px;
  line-height: 22px;
  color: #1D2226;
  margin-top: 20px;
  text-transform: capitalize;
  text-align: left;
}