<div class="profile-container">
  <h2 class="heading">Account Settings</h2>
  <div class="profile-info">
    <div class="profile-picture">
      <img src="../../../assets/Ellipse.png" alt="Profile Picture">
      <img src="../../../assets/Group.png" alt="Icon" class="icon">
    </div>
    <div>
      <p class="name">Marry Doe</p>
      <p class="email">MarryDoe@gmail.com</p>
    </div>
  </div>
  <p class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>