body, html {
    height: 100%;
    margin: 0;
    font-family: Rubik, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .account-form {
    width: 375px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.account-form h2 {
    color: #1D2226;
    font-size: 28px;
    margin-bottom: 20px;
    /* width: 188px; */
    margin-top: 40px;
  }
.account-form p {
  color: #1D2226;
  opacity: 0.6;
    font-size: 18px;
    margin-bottom: 20px;
    width: 232px;
    margin-top: 40px;
  }
  
  
  .textOnInput {
    position: relative;
    margin-bottom: 30px; 
  }
  
  .textOnInput label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0.75rem; 
    z-index: 1;
    transition: top 0.3s, font-size 0.3s;
    color: #6c25ff;
  }
  
  .textOnInput label:after {
    content: " ";
    background-color: #fff;
    width: calc(100% - 1.5rem); 
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 7px;
    z-index: -1;
  }
  
  .form-control {
    width: 100%;
    padding: 1.25rem 0.75rem;
    border: 1px solid #cbcbcb;
    border-radius: 6px;
    box-shadow: none !important;
  }

 
  .agency-fieldset {
    border: none;
    margin: 20px 0;
  }
  
  .agency-fieldset legend {
    color: #666;
  }
  
  .agency-fieldset label {
    margin-right: 10px;
    color: #666;
  }
  
  .agency-fieldset input[type="radio"] {
    margin-right: 5px;
  }
  
  .account-form button {
    width: 100%;
    padding: 15px;
    background-color: #cbcbcb;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }