<body>
    <div class="container">
      <form class="account-form">
        
        <h2>Signin to your PopX account</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          
        <div class="textOnInput">
          <label for="email">Email address*</label>
          <input class="form-control" type="email" id="email" name="email" required>
        </div>
        
        <div class="textOnInput">
          <label for="password">Password*</label>
          <input class="form-control" type="password" id="password" name="password" required>
        </div>
        
        
        <button type="submit" [routerLink]="'/account'">Login</button>
      </form>
    </div>
    </body>
    