
<div class="body">

    <div class="box">
        <div class="heading"></div>
        <div class="text">
          <h1>Welcome to PopX</h1>
          <p>Lorem ipsum dolor sit amet,</p>
          <p>consectetur adipiscing elit.</p>
        </div>
        <div class="btn1">
          <button class="create-account-btn" [routerLink]="'/create-account'">Create Account</button>
        </div>
        <div class="btn2">
            <button class="login-btn" [routerLink]="'/login'">Already Registered? Login</button>
        </div>
      </div>
    </div>